
@import url('https://fonts.googleapis.com/css?family=Kalam');

body{
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #DFBF9F; 
	font-family: 'Kalam', cursive;
}

/*HEADER*/

	body>header{

		background-color: #E28F4E;
		padding: 1em;
		border: 0.3em solid #D67731;
		border-radius: 15px;
		display: flex;

	}

	body>header>a>img{

		margin-right: 1em; 

	}

	body>header>div>h1,h2{

		color: #F8E9E9;
		font-style: bold;

	}

/*LATERAL DERECHO*/

	body>div{

		/*position: fixed;*/
		margin-top: 1em;
		float: right;
		border-style: solid;
		border-color: #394648;
    	border-width: 5px;
    	border-radius: 15px;
    	padding: 0.5em;
    	text-align: center;


	}

/*FORMULARIO DE REGISTRO*/

	body>div>#formRegIS{

		margin: 0.5em;

	}

		body>div>#formRegIS>a{

			display: inline-block;
			visibility: hidden;

		}

			body>div>#formRegIS>a>span{

				display: inline-block;
				visibility: visible;
				color: #394648;

			}

/*BARRA BUSQUEDA TEXTO*/

	body>div>form{

		margin-top: 0.5em;
		margin-bottom: 0.5em;
		display: block;

	}

/*FORMULARIO BUSQUEDA*/

	body>div>form>fieldset>legend{

		color: #394648;

	}

	body>div>form>fieldset>div>label{

		color: #394648;

	}


	body>div>form>fieldset>a{

		color: #394648;

	}

/*PARTE CENTRAL*/

	body>section{

		margin-top: 1em;
		margin-bottom: 1em;
		float: left;
		border-style: solid;
		border-color: #394648;
    	border-width: 5px;
    	border-radius: 15px;
    	padding: 0.5em;
    	text-align: center;

	}

		body>section>h3{

			background-color: #394648;
			padding: 0.2em;
			border-radius: 15px;
			color: #F8E9E9;

		}

		body>section>div>article>h4>a{

			color: #394648;
			text-decoration: none;

		}

		body>section>div>article>div{

			background-color: #394648;
			padding: 0.2em;
			border-radius: 15px;

		}

			body>section>div>article>div>p{

				color: #F8E9E9;

		}

/*FOOTER*/

	body>footer{

		clear: both;
		text-align: center;
		background-color: #E28F4E;
		padding: 1em;
		border: 0.3em solid #D67731;
		border-radius: 15px;

	}

		body>footer>p{

			color: #F8E9E9;

		}

		body>footer>p>strong>a{

			color: #F8E9E9;

		}

		body>footer>p>time{
			
			color: #F8E9E9;

		}

		body>footer>p>a{

			
			color: #F8E9E9;

		}

		body>footer>p>a>span{

			float: right;

		}
