@page { 

	size: 210mm 297mm;
	margin: 10mm;

}

body{
	box-sizing: border-box;
	min-width: 320px;
    max-width: 1980px;
	margin: 0 auto;
	background-color: white;
	font-family: serif;
	font-size: 12pt;
	position: relative;
}



/*HEADER*/

	body>header{

		background-color: white;
		padding: 1em;
		border-top: 0;
		display: flex;
		flex-direction: row;

	}

		body>header>a{
			display: none;
			/*transition: all .35s ease-in-out;*/
		}

	body>header>a>img{

		height: 2.5cm;
		margin-right: 0.5cm; 

	}

	body>header>div>h1,h2{

		margin-top: 0cm;
		color: black;
		font-weight: bold;

	}


/*BARRA DE NAVEGACION*/

	body>nav{
		display: none;
		/*text-align: center;
		background-color: #FF7A1E;
		border-top: 0.3em solid #D67731;
		border-bottom: 0.3em solid #D67731;
		position: sticky;
		text-align: center;
		top: 0px;
		z-index: 20;*/
	}
		/*body>nav>ul{
			display: inline-block;
			margin: 0;
			padding: 0;
		}
			body>nav>ul>li{
				list-style: none;
				display: inline-block;
			}
				body>nav>ul>li>a{
					display: block;
					color: #ffffff;
					padding: 0.7em;
					text-decoration: none;
				}

					body>nav>ul>li>a>span:first-of-type{
						margin-right: 0.2em;
					}

				body>nav>input{
					display: none;
				}

				body>nav>label{
					display: none;
					position: relative;
					color: #ffffff;
					padding: 0.7em;
					text-decoration: none;
				}

					body>nav>label>span{
						display: inline-block;
					}*/

/***PAGINA PRINCIPAL***/

/*BUSCADORES INDEX*/

	body>#formBusc{
		display: none;
		/*margin: 1em;
		border: 0.1cm solid #D67731;
    	/*border-width: 5px;*/
    	/*border-radius: 15px;
    	padding: 0.5em;
    	text-align: center;*/
	}

/*BARRA BUSQUEDA TEXTO*/

	body>div>form{
		display: none;
		/*margin-top: 0.5em;
		margin-bottom: 0.5em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;*/
	}

		/*body>div>form>#buscRap{

			width: 75%;

		}

		body>div>form>input{
			border-radius: 1em;
			border: 0.1cm solid #D67731;
		}

		body>div>form>input:focus{
			background-color: #E5C9B5;
		}

		body>div>form>button{
			background-color: #E7C49F;
			border: 0.2em solid #D67731;
			border-radius: 1em;
			margin-left: 1em;
		}

			body>div>form>button>span{
				font-size: 20px;
			}*/

/*FORMULARIO BUSQUEDA*/

	/*body>div>form>fieldset>legend{

		color: #394648;

	}

	body>div>form>fieldset>p{

		display: inline-block;
		margin: 0;

	}

	body>div>form>fieldset>p>label{

		color: #394648;
		text-align: right;
		margin-right: 0.5em;

	}

	body>div>form>fieldset>p>input{

		border-radius: 1em;
		border: 0.1cm solid #D67731;
	}

	body>div>form>fieldset>a{

		color: #394648;
		text-decoration: none;
		white-space: nowrap;

	}

	body>div>form>fieldset>button{

		background-color: #E7C49F;
		border: 0.2em solid #D67731;
		border-radius: 1em;
	}


		body>div>form>fieldset>button>span{

			font-size: 20px;
		}*/

/*PARTE CENTRAL*/

	body>section{
		margin-right: 1em;
		margin-left: 1em;
		margin-top: 0em;
		margin-bottom: 0em;
		border: 0;
    	border-width: 5px;
    	border-radius: 15px;*/
    	padding: 0.5em;
    	text-align: center;
	}

		body>section>h3{

			background-color: white;
			border: none;
			padding: 0cm;
			margin-top: 0.4cm;
			margin-bottom: 0.4cm;
			border-radius: 15px;*/
			display: flex;
			justify-content: center;
			color: black;
			font-size: 24pt;

		}

		body>section>a{
			border: 0.1cm solid black;
			/*border-radius: 10px;*/
			/*background-color: #FFBA89;*/
			padding: 0.2em;
			color: #0032ff;
			text-decoration: underline;
			margin: 1em;
		}


		body>section>.imagenes{
			display: block;
			/*flex-direction: column;
			flex-wrap: nowrap;
			justify-content: space-around;*/
			margin-top: 0cm;
			align-content: center;
		}

		body>section>.imagenes>article{
			display: flex;
			flex-direction: column;
			background-color: white;
			border: 0.1em solid black;
			justify-content: space-between;
			color: black;
			overflow: hidden;
			height: 22em;
			width: 18em;
			margin: auto;
			margin-top: 1cm;
		}

		body>section>.imagenes>article:nth-of-type(2n){

			page-break-after: always;

		}

		body>section>.imagenes>article>figure{
			margin: 0;
			border: 0.2em solid blue;
			width: 15.5em;
			height: 10em;
			align-self: center;
		}
			body>section>.imagenes>article>figure>a{
				margin: 0;
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				color: #0032ff;
				content: attr(href);
			}

				body>section>.imagenes>article>figure>a>img{
					width: 100%;
					height: 100%;
					/*transition: all .35s ease-in-out;*/
					align-self: center;
					content: attr(href);
				}

		body>section>.imagenes>article>h4{
			
			border: none;
			margin-top: 0.5cm;
			padding: 0.2em;
			width: 100%;
			align-self: center;
		}

		body>section>.imagenes>article>h4>a{

			text-decoration: underline;
			color: blue;

		}


		body>section>.imagenes>article>footer{

			display: flex;
			flex-direction: column;
			padding: 0.2em;
			border-radius: 15px;
			margin-bottom: 1em;

		}

			body>section>.imagenes>article>footer>p{
				color: black;
				margin: 0;
			}

			body>section>.imagenes>article>footer>p:first-of-type{
				margin-bottom: 1em;
			}

/*PAGINACION*/
	

	body>.paginacion{
		display: none;
		/*align-self: center;
		display: flex;
		justify-content: center;*/
	}
		/*body>.paginacion>div>span{

			justify-content: center;
			display: inline-block;
			color: blue;

		}

		body>.paginacion>div>p{
			justify-content: center;
			display: inline-block;
			border: 0.2em solid black;
			border-radius: 10px;
			background-color: white;
			padding-left: 0.3em;
			padding-right: 0.3em;
		}*/

/***FORMULARIOS***/

body>.formulario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 10cm;
}

	body>.formulario>fieldset{
		width: 50%;
		margin: 5em;
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		overflow: hidden;
		border: 0;
	}

		body>.formulario>fieldset>p{
			width: 50%;
			margin: auto;
			margin-top: 3em;
			display: flex;
			align-self: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		body>.formulario>fieldset>p:nth-of-type(12){
			margin-top: 2cm;
		}

			body>.formulario>fieldset>#solAlbumDirec>input{
				margin-bottom: 2cm;
			}

			body>.formulario>fieldset>#solAlbumDirec>select{
				margin-bottom: 2cm;
			}

			body>.formulario>fieldset>#solAlbumDirec>label:nth-of-type(2){
				margin-top: 2cm;
			}

			body>.formulario>fieldset>p>label{
				align-self: center;
				width: 5em;
			}

			body>.formulario>fieldset>p>input{
				border-radius: 0.5cm;
				border: 0.1cm solid black;
				align-self: center;
				width: 18cm;
				height: 0.7cm;
			}

			body>.formulario>fieldset>p>input:focus{
				background-color: white;
			}			

			body>.formulario>fieldset>p>input:invalid{

				border: 0.1cm solid black;

			}

			body>.formulario>fieldset>p>textarea{
				border-radius: 1em;
				border: 0.1cm solid black;
				width: 18cm;
				height: 11cm;
			}

			body>.formulario>fieldset>p>textarea:hover{
				background-color: #ffffff;
			}

			body>.formulario>fieldset>p:last-of-type{
				display: flex;
				justify-content: center;
				margin-bottom: 1cm;
			}
				body>.formulario>fieldset>p>button{
					/*display: none;*/
				}

		body>.formulario>fieldset>a{
			text-decoration: none;
			color: black;
		}

			body>.formulario>fieldset>p>select{
				
				background-color: white;
				border-radius: 1em;
				border: 0.1cm solid black;
				width: 18cm;
				height: 1cm;
				align-self: center;
			}

			body>.formulario>fieldset>p>select:invalid{
				border: 0.1cm solid black;
			}

			body>.formulario>fieldset>p>#fper{
				align-self: center;
				border-radius: 0;
			}

			body>.formulario>fieldset>p>span{
				
				margin: 0;
				align-self: center;
			}

			body>.formulario>fieldset>p>span{

				align-self: center;

			}

			body>.formulario>fieldset>p{
				display: flex;
			}

/*FOTO PERFIL*/

	body>section>img{
		border: 0.1cm solid black;
		width: 250px;
		height: 250px;
	}

/*TABLAS*/

	body>section>div>.tabla{
		margin: auto;
		border: 0.1cm solid black;
		/*border-width: 5px;*/
		margin-bottom: 0.5cm;
		margin-top: 0.5cm;
		border-collapse: collapse;
	}
			
		body>section>div>.tabla>caption{
			background-color: white;
			border-top: 0.1cm solid black;
			border-left: 0.1cm solid black;
			border-right: 0.1cm solid black;
		}

		body>section>div>.tabla>tbody>tr:nth-child(even){
			background-color: #ffffff;
		}

			body>section>div>.tabla>tbody>tr>td{

				padding: 0.3cm;
				border: 0.1cm solid black;

			}

				body>section>div>.tabla>tbody>tr>td>a{
					content: attr(href);
					font-weight: bold;
					color: #0032ff;
					text-decoration: underline;
				}

	body>section>.contTabla{
		overflow-x:auto;
	}

	body>section>#inicioResSolAlbum{
		display: none;
	}

	body>section>p{
		margin: 0;
	}

	body>header{
		padding: 0;
	}

	body>section{
		padding: 0;
	}

/*ENLACES*/
	
	body>section>.enlPerf{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 0.5em;
	}
		body>section>.enlPerf>a{

			border: 0;
			border-radius: 0px;
			background-color: white;
			padding: 0.1cm;
			color: #0032ff;
			text-decoration: underline;
			margin: 0.1cm;

		}

/*PAGINA DETALLE IMAGEN*/

	body>#detFoto{

		margin: 1em;
		border: 0.1cm solid black;
	    /*border-width: 5px;*/
	    border-radius: 15px;
	    padding: 0.5em;
	    display: flex;
	    flex-direction: column;
	    text-align: center;
		justify-content: center;
		align-self: center;

	}

		body>#detFoto>h3{

			background-color: white;
			padding: 0.2em;
			border: 0.1cm solid black;
			/*border-width: 5px;*/
			border-radius: 15px;
			display: flex;
			justify-content: center;
			color: black;

		}

		body>#detFoto>figure{
			margin: 0;
			align-self: center;
			width: 90%;
		}

			body>#detFoto>figure>img{
				width: 100%;
				border: 0.1cm solid black;

			}

		body>#detFoto>div>.p-left{

			display: block;
			align-self: center;

		}

		body>#detFoto>div>p{

			display: block;
			align-self: center;

		}

		body>#detFoto>div>p:nth-of-type(2),body>#detFoto>div>p:last-of-type{
			font-weight: bold;
		}

		body>#detFoto>div>a{

			display: block;
			align-self: center;
			color: black;
			text-decoration: none;
			font-weight: bold;

		}

		.p-left{

			text-align: left;

		}

		body>section>p>span{

			font-weight: bold;
			font-size: 35px;
			color: black;

		}


/*FOOTER*/

	body>footer{
		padding: 0;
		clear: both;
		text-align: center;
		background-color: white;
		border-top: 0;
		border-bottom: 0;
	}

		body>footer>p{

			color: black;
			margin: 0;

		}

		body>footer>p>a{
			/*text-decoration: underline;
			color: blue;
			margin-left: 8em;
			overflow: hidden;*/
		}

			body>footer>p>a>span{
				display: none;
			}
	

			body>footer>p>strong>a{

				color: blue;
				text-decoration: underline;
				margin-right: 0.6em;
			}
